# Twitter Credentials
# Remove the '.sample' from the file name and set your Twitter App credentials here (these are mocked)
CONSUMER_KEY = 'vbVC3Waic8U5I6v157EP3b3z'
CONSUMER_SECRET = 'ETPJqieGSgRPSlSez2a9TvhD4C3Juy39ObrfR7kC6MingJXWA'
ACCESS_TOKEN = '220961479-89yVMgKCfh5GRB2vyNXffRTs9d83FP'
ACCESS_TOKEN_SECRET = 'Uw3ygHKwg7tmsjnSqp9h3IY1PUmfNXAYDvI9UTimzHpbFm'